        @import url("https://fonts.googleapis.com/css?family=Lobster");
        
        /* all paragraphs have the fontsize 20px and so on*/
        p {
            font-size: 20px;
            font-family: monospace;
        }
        /*style for all object with this class*/ 
        .blue-text {
            color: blue;
        }

        /*style for specific id*/
        #cat-form {
            color: blue;
        }
        
        h2 {
            color: red;
            /*font-family = Schriftart*/
            font-family: Lobster;
        }
        
        .indoor-outdoor {
            padding: 10px;
        }
        
        .cat-type {
            padding: 10px;
        }
        
        img {
            width: 250px;
        }
        
        .image-border {
            border-color: black;
            border-width: 5px;
            border-style: solid;
            border-radius: 10%;
        }
        
        .silver-background {
            background-color: silver;
        }