h4 {
  text-align: center;
  padding: 10px;
  background-color: rgba(45, 45, 45, 0.1);
  font-size: 25px;
  text-transform: uppercase;
  transform: skewX(24deg);
}

h2{
  top: 10px;
  left: 5px;
}

a{
  color:  black;
}

a:hover{
  color: blue;
}

p {
  text-align: justify;
  line-height: 25px;
}

#thumbnail-right{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  /*float pushes the object to the specific boarder*/
  float: right;
}

/*thumnail gets two times bigger*/
#thumbnail-right:hover{
  transform: scale(2);
}

#thumbnail-left{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  float: left;
}

.links {
  margin-right: 20px;
  color: black;
  opacity: 0.7;
}

.fullCard {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 5px;
  padding: 4px;
  width: 300px;
}

.cardContent {
  padding: 10px;
}

#navbar{
  position: fixed;
  top: 0px;
  left: 300px;
}

.rectangle-div {
  width: 60%;
  height: 200px;
  margin-top: 20px;
  margin: auto;
}

.first {
  background-color: red;
  position: absolute;

  /*red rectangle is in the foreground as long as it have the higher z-index*/
  z-index: 2;
}
.second {
  background-color: hsl(120, 100%, 50%);
  position: absolute;
  left: 30px;
  z-index: 1;
}

nav ul {
  margin: 0px;
  padding: 5px 0px 5px 30px;
}
nav li {
  display: inline;
  margin-right: 20px;
}